absl-py
anaconda
argon2-cffi
astunparse
attrs
backcall
beautifulsoup4
bleach
blis==0.4.1
Bottleneck
cachetools
catalogue==1.0.0
catboost
certifi
cffi
chardet
click
cycler
cymem
Cython
dataclasses
decorator
defusedxml
distro-info
entrypoints
fastai
fastprogress
ffmpeg
ffmpeg-python
freetype-py
future
gast==0.3.3
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
idna
imageio
imageio-ffmpeg
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
Keras
Keras-Preprocessing
kiwisolver
lightgbm
Markdown
MarkupSafe
matplotlib
mistune
moviepy
mpmath
murmurhash
nbconvert
nbformat
netifaces
networkx
nltk
nose
notebook
numexpr
numpy==1.18.5
nvidia-ml-py3
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pip
plac==1.1.3
plotly
preshed
proglog
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
pygobject
pyparsing
pyrsistent
python-dateutil
python-debian
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
retrying
rsa
scikit-learn
scipy==1.4.1
Send2Trash
setuptools
six
soupsieve
spacy
srsly==1.0.2
sympy
tensorboard
tensorboard-plugin-wit
tensorboardX
tensorflow-estimator
tensorflow-gpu
termcolor
terminado
testpath
thinc
threadpoolctl
torch
torchvision
tornado
tqdm==4.48.2
traitlets
transforms3d
typing
urllib3
vispy
wasabi
wcwidth
webencodings
Werkzeug
wheel
widgetsnbextension
wrapt
xgboost
youtube-dl
zipp
